/* FRAME */
body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Empêche le défilement */
}

body {
    position: relative;
    font-family: NanumGothic, sans-serif; /* Votre police de choix */
    background-color: #ffffff; /* Couleur de fond */
    -webkit-overflow-scrolling: touch; /* Pour un défilement fluide sur les appareils tactiles si activé */
}

.phone-frame .screen {
    height: 100%;
    width: 100%;
    overflow-y: auto; /* Permet un défilement vertical uniquement à l'intérieur de l'écran si nécessaire */
    overflow-x: hidden; /* Empêche le défilement horizontal */
}

.phone-frame {
    width: 360px; /* Largeur du cadre du téléphone */
    height: 775px; /* Hauteur actuelle du cadre du téléphone */
    box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur et la hauteur de l'élément */
}


.home-content {
    display: block;
    margin-right: 20px;
    margin-left: 20px;
}

#container {
    max-width: 100%;
    padding: 20px;
    box-shadow: none;
    border-radius: 0;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    height: 100%; /* Hauteur totale du parent */
}

/* PAGE TITLE */
.go-back {
    display: flex;
    align-items: center;
    background-color: white; /* Couleur de fond blanche pour go-back */
   /*  border: 1px solid white; Bordure blanche pour harmoniser avec le fond */
    background-color: rgba(55, 125, 69, 1);
}

.page-title-analysis {
    font: 700 16px/1.3em NanumGothic, sans-serif;
    color: white; /* Couleur du texte du titre #363A3C*/
    text-align: center; /* Centre le texte horizontalement */
    margin-left: auto;
    margin-right: auto;
    display: block; /* Assure que l'élément est traité comme un bloc pour centrer le texte */
    width: 100%; /* Assure que le titre occupe toute la largeur disponible */
}

.page-title-scanner { 
    font: 700 16px/1.3em NanumGothic, sans-serif;
    color: white; /* Couleur du texte du titre #363A3C*/
    text-align: center; /* Centre le texte horizontalement */
    margin-left: auto;
    margin-right: auto;
    display: block; /* Assure que l'élément est traité comme un bloc pour centrer le texte */
    width: 100%; /* Assure que le titre occupe toute la largeur disponible */
}

.st0 { 
    fill: white;  stroke-linecap: round; /* Round the ends of the lines */
    stroke-linejoin: round; /* Round the corners of the lines */ 
}

.scaled { transform: scale(1.3); transform-origin: center; /* Adjust the stroke width to make it thinner */ }

.icon-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px; /* Espace intérieur pour le contenu */
}

.arrow {
    margin-left: 2px;
    }


.close {
    margin-right: 2px;
    }

    .close:active, .close:hover   {
        fill: rgba(68, 100, 60, 1);
    }

.arrow:active, .arrow:hover, .st0:hover {
    fill: rgba(68, 100, 60, 1);
    stroke: 5px;
}





